# Root directory.
*npm-debug.log
.directory
.vscode/

# NodeJS folder.
NodeJS/node_modules/*
NodeJS/.directory
NodeJS/view/*
NodeJS/package-lock.json

# react-frontend directory.
react-frontend/node_modules/*
react-frontend/coverage/*
react-frontend/build/*
react-frontend/package-lock.json
